@model List<MvcBlog.Models.TblBlog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        @foreach (var item in Model)
                        {
                            <div class="content-grid-info">
                                <img style="width:650px;" src="@item.BlogImage" alt="" />
                                <div class="post-info">
                                    <h4><a href="/Blog/BlogDetail/@item.BlogId">@item.BlogTitle</a>  @item.BlogDate</h4>
                                    <p>@item.BlogContent.Substring(0, 150) ...</p>
                                    <a href="/Blog/BlogDetail/@item.BlogId"><span></span>DEVAMINI OKU..</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4 content-right">
                    <div class="recent">
                        <h3>SON PAYLAŞIMLAR</h3>
                        @Html.Action("PartialRecentPost", "Default")
                    </div>
                    <div class="comments">
                        <h3>SON YORUMLAR</h3>
                        @Html.Action("PartialRecentComment", "Default")
                    </div>
                    <div class="clearfix"></div>
                    <div class="categories">
                        <h3>KATEGORİLER</h3>
                        @Html.Action("PartialCategories", "Default")
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
</body>
</html>
