@model MvcBlog.Models.TblBlog

@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Layout/_BlogLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>GÖNDERİ DETAYI</h4>
                            <h2>TEKLİ BLOG GÖNDERİSİ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="@Model.BlogImage" alt="">
                                    </div>
                                    <div class="down-content">
                                        <span>@Model.BlogTitle</span>
                                        <ul class="post-info">
                                            <li><a href="#">@(((DateTime)Model.BlogDate).ToString("dd-MMM-yyyy"))</a></li>
                                            <li><a href="#">@Model.TblCategory.CategoryName </a></li>
                                        </ul>
                                        <p>
                                            @Model.BlogContent
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">

                                @Html.Action("PartialComment", "Default")

                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>YORUM EKLE</h2>
                                    </div>
                                    <div class="content">
                                        <form id="comment" action="#" method="post">
                                            <div class="row">
                                                @Html.Action("DoComment", "Comment")
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="main-button">GÖNDER</button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">

                                @Html.Action("PartialRecentPost", "Default")

                            </div>
                            <div class="col-lg-12">

                                @Html.Action("PartialCategories", "Default")

                            </div>
                            <div class="col-lg-12">

                                @Html.Action("PartialRecentComment", "Default")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
